<div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
      </div>
      <div class="modal-body">
        <p>Are you sure you wanto to delete this book?</p>
      </div>
      <div class="modal-footer">
        <form>
          <button class="btn btn-cancel" data-bs-dismiss="modal" formaction="/books/<%= id %>" formmethod="get">Cancel</button>
          <button class=" btn btn-delete" type="submit" value="submit" formaction="/books/<%= id %>/delete" formmethod="post">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>