<form class="row" action="/add" method="POST">
  <div class="col-auto">
    <label for="input" class="visually-hidden">input</label>
    <input
      type="text"
      class="form-control"
      name="input"
      id="input"
      placeholder="Digite uma tarefa..."
      required
    />
  </div>
  <div class="col-auto">
    <button type="submit" class="button rounded-circle" value="submit">
      &plus;
    </button>
  </div>
</form>
