<div class="px-3 py-4 fixed-top header" id="header">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
        <div class="nav-title">
          <h2 id="header-link" class="my-0">My book<span class="underline">shelf</span>.</h2>
        </div>
      </a>

      <!-- <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
        <li>
          <a href="/" class="nav-link">
            <i class="bi bi-house icon"></i>
            <span> Home </span>
          </a>
        </li>
        <li>
          <a href="/" class="nav-link">
            <i class="bi bi-house icon"></i>
            <span> Home </span>
          </a>
        </li>
      </ul> -->
    </div>
  </div>
</div>