<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", {title: "My bookshelf", style: "modify.css"}) %>

<body>
  <%- include("partials/header.ejs") %>

  <main class="container min-vh-100 col-lg-6 col-md-8 col-sm-10">

    <div class="hero">
      <h1>Add a book</h1>
    </div>

    <form>
      <div class="section">
        <div>
          <div class="book-img">
            <img src="/images/cover.png" alt="">
          </div>
          <input type="hidden" name="cover-url" id="cover-url"> <!-- contem a url da capa -->
          <button class="btn" type="button" id="search-cover">Search cover</button>
          <div class="rating">
            <input type="radio" id="star5" name="rating" value="5">
            <label for="star5"><i class="bi bi-star-fill"></i></label>
            <input type="radio" id="star4" name="rating" value="4">
            <label for="star4"><i class="bi bi-star-fill"></i></label>
            <input type="radio" id="star3" name="rating" value="3">
            <label for="star3"><i class="bi bi-star-fill"></i></label>
            <input type="radio" id="star2" name="rating" value="2">
            <label for="star2"><i class="bi bi-star-fill"></i></label>
            <input type="radio" id="star1" name="rating" value="1">
            <label for="star1"><i class="bi bi-star-fill"></i></label>
          </div>
        </div>

        <div class="w-100">
          <div class="field">
            <label for="title">Title *</label>
            <input type="text" name="title" placeholder="Title" required>
          </div>
          <div class="field">
            <label for="author">Author *</label>
            <input type="text" name="author" placeholder="Author" required>
          </div>
          <div class="field">
            <label for="isbn">ISBN *</label>
            <input type="text" name="isbn" placeholder="ISBN" required id="isbn">
          </div>
          <div class="field">
            <label for="read-in">Read in</label>
            <input type="date" name="read-in">
          </div>
        </div>
      </div>

      <div class="field">
        <label for="synopsis">Synopsis</label>
        <textarea type="text" name="synopsis" placeholder="Synopsis" rows="5"></textarea>
      </div>

      <div class="field">
        <label for="review">Review</label>
        <textarea type="text" name="review" placeholder="Review" rows="5"></textarea>
      </div>

      <div class="field">
        <label for="notes">Notes</label>
        <textarea type="text" name="notes" placeholder="Notes" rows="5"></textarea>
      </div>

      <div class="send">
        <span>* required</span>
        <div class="d-flex gap-3 align-items-center">
          <a class="btn btn-cancel" href="/">Cancel</a>
          <button type="submit" class="btn" formaction="/add" formmethod="post"><i class="bi bi-plus-lg"></i>Add book</button>
        </div>
      </div>

    </form>
  </main>

  <%- include("partials/footer.ejs") %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>

</html>