@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./main.css");

:root {
    --text-main: hsl(0, 0%, 98%);
    --text-2: hsl(0, 0%, 83%);
    --text-3: hsl(0, 0%, 70%);
    --text-4: hsl(0, 0%, 60%);
    --border: hsl(0, 0%, 20%);
    --bg: hsl(0, 0%, 8%);
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

p {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.this-book {
    padding-top: 8rem;
    display: flex;
    gap: 2rem;
}
.this-book h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--text-main);
}
.this-book h2 {
    font-size: 1rem;
    color: var(--text-3);
}

.this-book-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    width: 100%;
}

.this-book-stars {
    font-size: 1.5rem;
    color: var(--text-3);
}
.this-book-stars .bi-star-fill,
.this-book-stars .bi-star-half {
    color: goldenrod;
}

.this-book-data {
    flex-direction: column;
    gap: 0.8rem;
}
.this-book-data * {
    font-size: 0.875rem;
    color: var(--text-4);
}

.this-book-synopsis {
}

.content {
    margin-left: 0;
    margin-right: 0;
}

.section-title {
    font-size: 1.5rem;
    color: var(--text-2);
    margin-bottom: 1rem;
}

.btn-opt,
.btn-opt:hover {
    background-color: var(--bg);
    color: var(--text-2);
    border: transparent;
    margin: 0.5rem 0;
    border-radius: 100px;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-opt:hover {
    background-color: hsl(0, 0%, 12%);
}

.opt-menu {
    background-color: var(--bg);
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
}
.opt-menu a {
    text-decoration: none;
    font-size: small;
    cursor: pointer;
    color: var(--text-2);
    text-wrap: nowrap;
    padding: 0.5rem;
    border-radius: 5px;
}
.opt-menu a:hover {
    background-color: hsl(0, 0%, 12%);
}

.hide {
    display: none;
}

@media (max-width: 768px) {
    .this-book {
        flex-direction: column;
        align-items: center;
        padding-top: 12rem;
        text-align: center;
    }
    .this-book-info {
        align-items: center;
    }
    .this-book-info > div {
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
    }
    .this-book-synopsis {
        text-align: center;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .this-book {
        padding-top: 12rem;
    }
}
@media (min-width: 993px) and (max-width: 1200px) {
}
